## introduction to Python 3

### materials
* laptop
* internet access

[Python](https://www.python.org/) is a general-purpose, interpreted, high-level programming language. The syntax of the language has been optimized to emphasize code readability, as well as brevity.

## strings

Any character surrounded by quotes. Quotes must be balanced.

One of the three lines below will result in an error because it is missing balanced quotes. Take a moment to try to identify the problematic line and then confirm by executing each one.

In [61]:
a = 'test'

In [62]:
a = "test"

In [63]:
a = "test

SyntaxError: EOL while scanning string literal (<ipython-input-63-1f63d1d01ae6>, line 1)

In order to declare a variable as a string one has to use quotes. The following line, then, will result in an error.

In [64]:
a = test

NameError: name 'test' is not defined

### manipulating strings

Python allows for numerous manipulations to strings. Returning to the first example:

In [65]:
a = 'test'

One can perform various operations with `a` to get information regarding the string `'test'`

In [66]:
len(a)

4

In [67]:
type(a)

str

`str` is short for string, by the way.


### slicing strings

Return a part of the string (referred to as "string slicing") with the following

In [68]:
a[:3]

'tes'

One can see what other operations are possible with `a` by typing `a.` and then hitting the TAB key. Try it in the next line.

In [ ]:
a.

From this list, one can type out any of the functions followed by a `?` to see a brief description of what it does.

Convert the string, contained in the variable `a`, to a capitalized version of itself

In [22]:
a.upper()

'TEST'

Note that running `.upper()` on `a` does not permanently alter the data stored there.

In [24]:
a

'test'

If one wanted to replace the lowercase version of the string at `a` with

In [13]:
a = a.upper()

In [14]:
a

'TEST'

## integers & floats

There are two basic types of numbers:
* integers
* floating point numbers (floats for short)

Integers are any whole number (positive or negative), floats are any number with a decimal point.

In [26]:
a = 5
type(a)

int

In [27]:
a = 4.0
type(a)

float

`a.[TAB]` shows what other methods `a` (the variable that now stores a floating point number) has

In [28]:
a.

SyntaxError: invalid syntax (<ipython-input-28-b4ce96ddcee0>, line 1)

## assignment operator

In Python, `=` has a unique meaning. The previous example

In [29]:
a = 4.0

means “assign 4.0” to the variable named `a`. The following returns an error

In [30]:
5 = 6

SyntaxError: can't assign to literal (<ipython-input-30-9dce8774f3b9>, line 1)

because a `6` can never be assigned (or put inside) to a `5`.

## variables

**Variables** must be assigned prior to their use, otherwise Python throws an error because it does not understand what you want it to do. Try running the following line, which references a variable (`x`) that does not currently exist.

In [31]:
x

NameError: name 'x' is not defined

Nonetheless, variables, once assigned (and therefore established as a particular type), can be converted to other data types.

In [32]:
a = 5
float(a)

5.0

Or

In [33]:
a = 4.9
int(a)

4

## lists

A compound data type used to group together other values. A `list` is written as a series of comma-separated values (or items) between square brackets. They do not need to be of uniform type.

In [35]:
a = ['spam', 'eggs', 100, 1234]
a

['spam', 'eggs', 100, 1234]

Individual items in a `list` are referenced by their `index`, or location in the `list`. We can reference individual items by entering the variable and the position (counting from 0).

In [36]:
a[0]

'spam'

In [37]:
a[3]

1234

In [38]:
a[:2]

['spam', 'eggs']

Individual items/elements in a string can be modified (or updated) as follows

In [39]:
a[1] = 2
a

['spam', 2, 100, 1234]

One can make Python determine the length (or size) of `list` by calling `len()` on it.

In [40]:
len(a)

4

`append` and `insert` are the two most common ways to add an element to a `list`

#### insert

In [43]:
h = [ 'this', 'is', 'a', 'list' ]
h

['this', 'is', 'a', 'list']

In [44]:
h.insert(3, 'great')
h

['this', 'is', 'a', 'great', 'list']

#### append

In [45]:
h.append('certainly')
h

['this', 'is', 'a', 'great', 'list', 'certainly']

`insert` adds an element to a `list` at index, `append` simply adds an element to the end of a `list`.

#### extend

`extend` concatenates two lists and returns a new one.

In [51]:
h
i = [ 'the', 'best', 'list']
h.extend(i)
h

['this',
 'is',
 'a',
 'great',
 'list',
 'certainly',
 'the',
 'best',
 'list',
 'the',
 'best',
 'list']

#### index

`index` allows one to search a `list` by `value`

In [52]:
h.index('certainly')

5

### Removing Elements from a list

There are two basic ways to remove an element from a `list`:
* `pop`
* `remove`

#### pop

In [54]:
h = ['this', 'is', 'a', 'great', 'list', 'certainly', 'the', 'best', 'list']
h.pop()
h

['this', 'is', 'a', 'great', 'list', 'certainly', 'the', 'best']

`pop` removes and returns an item from a `list` at index. If no index is specified `pop` removes and returns the last item of a `list`.

#### remove

In [56]:
h
h.insert(2, 'is') # insert a duplicate word
h # confirm the duplicate

['this', 'is', 'is', 'a', 'great', 'list', 'certainly', 'the', 'best']

In [58]:
h.remove('is') 
h

['this', 'a', 'great', 'list', 'certainly', 'the', 'best']

`remove` gets rid of the first occurrence of value. In the above example, the value `'is'` was removed at index 1. In order to remove the second occurrence of `'is'` one would have to run `h.remove('is')` again.

## if statements

In [59]:
x = int(input('please enter an integer: ') )

if x < 0:
    x = 0
    print( 'negative changed to zero')
elif x == 0:
    print( 'Zero')
elif x == 1:
    print('single')
else:
    print('more')

please enter an integer: 5
more

Quite a bit to talk about here. Let's break it down line by line:

1. We called a statement that takes any input at the command line, converts it to an `int`, and assigns it to the variable `x`.
2. After that, we start our test. If `x` is less than 0, set `x` to 0 and `print` the statement 'negative changed to zero'.
3. `Elif` (means else if) `x` RETURNS 0, `print` zero. Else if `x` returns 1, `print` single. If none of those things are the case (the final `else`), print the string more.

Before you try to type this in, notice the whitespace. Python groups statements together (in functions like this one, or otherwise) via whitespace. The normal Python protocol is to use four spaces to denote the first line belonging to a previous one (the line under the first if statement).

Try to enter this into your interpreter with a different input value (not 42).

## for statements

In [60]:
words = ['cat', 'widow', 'defenestrate']

for w in words:
    print(w, len(w))

cat 3
widow 5
defenestrate 12

Python's `for` statement iterates over the items of any sequence (a `list` or a `string`), in the order that they appear in the sequence. The above function declares a list called `words` with three items: cat, widow, and defenestrate (all strings). Then, it says `for w` (used as an index here) in the list `words` `print` `w` (the item at that position and the length of that particular item). This is why we get the sequence of words with their string length returned. Upon completion of the `for` loop (when the loop has iterated over each item in the list) the loop terminates.